@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #393834;
}

header {
    background-color: #393834;
    backdrop-filter: blur(10px); /*TESTAR DEPOIS E VER SE ESTÁ FUNCIONANDO*/
    -webkit-backdrop-filter: blur(10px); /*TESTAR DEPOIS E VER SE ESTÁ FUNCIONANDO*/
    color: white;
    padding: 20px;
    width: 100%;
    top: 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0; 
    margin: 0;
}

nav ul li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8e8c83;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#about {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #393834;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 80px;
}

div #img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

#text {
    margin-left: 50px;
    text-align: left;
}

#text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#project {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #e2dddd;
    color: #8e8c83;
    width: 100%;
    height: 100%;
}

.moldura {
    display: flex; 
    border: 10px solid white; 
    border-bottom: 50px solid white;
    border-radius: 5px;
    padding: 20px; 
    width: 250px;
    height: 250px;
    gap: 10px; 
    justify-content: center;
    background-color: transparent; 
}