@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #393834;
}

header {
    background-color: #393834;
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0; 
    margin: 0;
}

nav ul li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8e8c83;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#img01 {
    width: 250px;
    margin: auto;
    color: white;
}

#text {
    width: 250px;
    margin: auto;
    color: white;
}
