@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

header {
    background-color: #393834;
    backdrop-filter: blur(10px); /*TESTAR DEPOIS E VER SE ESTÁ FUNCIONANDO*/
    -webkit-backdrop-filter: blur(10px); /*TESTAR DEPOIS E VER SE ESTÁ FUNCIONANDO*/
    color: white;
    padding: 20px;
    width: 100%;
    top: 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0; 
    margin: 0;
}

nav ul li {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8e8c83;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #393834;
    color: white;
}

div #img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

#text {
    margin-left: 50px;
    text-align: left;
}

#text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#project {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #e2dddd;
    color: #8e8c83;
}